body {
  background-color: cadetblue;
}

.navbar {
  padding-left: 5rem;
  padding-right: 5rem;
}

.main {
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.main .form-control{
  width: 30rem;
}